.content > p{
    padding: 21px;
    display: flex;
}

.content{
    width: 50%;
}

.colomn{
    width: 50%;
    position: relative;
    background-color: greenyellow;
}

.colomn > div {
    width: 100%;
}
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.container{
    display: flex;
    flex-direction: row;
}

.test-input{
    width: 100%;
    padding: 30px 0;
    font-size: 30px;
}

.test-input::placeholder {
    text-align: center;
}